.projectTitle small {
    max-width: 700px;
    text-align: center;
    margin: 0 auto;
    margin-top: 0.7em;
}

.fixedHeaderContainer header .headerTitleWithLogo {
    display: none;
}

.fixedHeaderContainer header img {}

.nav-footer {
    background: #1A1A1A;
}

.navigationSlider .slidingNav {
    background: #1A1A1A;
}

.homeContainer {
    box-shadow: inset 0 -10px 10px -6px rgba(177, 176, 176, 0.2);
    background: #f6f4f4;
}

.homeContainer .hljs {
    text-align: left;
    background: transparent;
}

.tabs {
    max-width: 800px;
    margin: 0 auto;
    border-top: none;
    border-bottom: 4px solid #e0e0e0;
}

.tabs .nav-tabs > div {
    cursor: pointer;
    color: #24292e;
    border-bottom: none;
    padding-bottom: 8px;
}
.tab-content {
    padding-top: 12px;
}

.tabs .nav-tabs > div.active {
    border-bottom: 4px solid #1A1A1A;
}


.homeContainer .tabs .nav-tabs > div:last-of-type {
    cursor: default;
    color: #24292e64;
    border-bottom: none;
}

.tab-content {
    border-top: 4px solid #e0e0e0;
}

.nav-tabs {
    border: none;
    position: relative;
    top: 4px;
}


.button {
    border: 1px solid #B2210C;
    color: #B2210C;
}

.button:hover, .promoSection .buttonWrapper:first-of-type > a.button {
    background: #B2210C;
    color: white;
}


blockquote {
    background-color: rgba(26, 26, 26, 0.3);
    border-left: 8px solid rgba(26, 26, 26, 0.1);
    color: rgba(255,255,255, 1);
}

blockquote code {
    opacity: 0.5;
}
/* 
blockquote a {
    color: rgba(255,255,255, 0.8);
    border-bottom: 1px solid rgba(255,255,255, 0.8);
}

blockquote a:hover {
    color: rgba(255,255,255, 1);
    border-bottom: 1px solid rgba(255,255,255, 1);
} */
/* 
blockquote {
    background-color: rgba(252, 214, 0, 0.687);
    border-left-color: rgba(240, 210, 37, 1);
    color: rgba(0, 0, 0, 0.632);
} */

a {
    color: rgba(178, 33, 12, 0.8);
}

a:hover {
    color: rgba(178, 33, 12, 1);
}

.homeContainer .homeWrapper .projectLogo {
    display: block;
    position: relative;
    padding: 0;
}

.projectTitle {
    margin-top: 30px;
    margin-bottom: 0;
}

.projectTitle small {
    margin: 0 auto;
}

.promoSection .promoRow {
    padding-top: 0;
    margin-top: 30px;
}

.promoSection .promoRow .pluginRowBlock .pluginWrapper {
    padding: 0 4px;
}

.blockElement {
    color: #1A1A1A;
}

.blockImage {
    margin-bottom: 0px;
}

.blockContent {
    margin-top: -25px;
}

.features {
    background: white;
    margin-top: -40px;
    position: relative;
    text-align: center;
    /* box-shadow: 0 10px 10px -6px rgba(177, 176, 176, 0.3); */
}

.sectionTitle {
    border-bottom: 4px solid #e0e0e0;
    max-width: 200px;
    margin: 0 auto;
    margin-top: 35px;
    padding-bottom: 15px;
}

.sectionTitle.blockTitle {
    margin-bottom: -20px;
}

.lightBackground, body, html {
    background: white;
}

.copyright a {
    color: #B2210C;
}

.productShowcaseSection.team .logos img {
    border-radius: 50%;
    height: 150px;
    margin-bottom: 0px;
    padding-left: 40px;
    padding-right: 40px;
}

.productShowcaseSection.team .logos p {
    padding-top: 0px;
}

.toc .toggleNav {
    margin-top: 12px;
}

.mainContainer {
    padding-top: 60px;
}

.tocActive .onPageNav > .toc-headings {
    padding-top: 24px;
}

.docsSliderActive #tocToggler {
    opacity: 0;
    visibility: hidden;
}

code {
    background: rgb(240, 240, 240);
    color: #444;
}

body > div.fixedHeaderContainer > div > header > div > nav > ul > li:nth-child(5)  {
    background: url('/img/discord.svg');
    background-repeat: no-repeat;
    background-position: center center;
    min-width: 50px;
    padding-top: 5px;
    opacity: 0.8;
}

body > div.fixedHeaderContainer > div > header > div > nav > ul > li:nth-child(5):hover {
    opacity: 1;
}

body > div.fixedHeaderContainer > div > header > div > nav > ul > li:nth-child(5) > a:hover {
    background: transparent;
}

.cheatsheet tr > td:first-of-type {
    min-width: 240px;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1200px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}